%li.dropdown
  %a.dropdown-toggle{href: "bootstrap-elements.html", 'data-target'=>"#", 'data-toggle'=>"dropdown"}
    Персонал
    %b.caret
  %ul.dropdown-menu
    %li
      = link_to "Персонажи", users_path
    %li
      = link_to "Новый персонаж", new_user_path
    %li.divider
    %li.dropdown-header
      Dropdown header
    %li
      %a{href: "javascript:void(0)"}
        Составить план
    %li
      %a{href: "javascript:void(0)"}
        Еще планов
%li.dropdown
  %a.dropdown-toggle{href: "bootstrap-elements.html", 'data-target'=>"#", 'data-toggle'=>"dropdown"}
    Сотрудники
    %b.caret
  %ul.dropdown-menu
    %li
      = link_to "Создание компании", new_company_path
    %li
      = link_to "Добавить сотрудника", companies_path
